# =========================
# Visual Studio
# =========================
.vs/
**/.vs/

# =========================
# .NET Build Output
# =========================
bin/
obj/
**/bin/
**/obj/

# =========================
# Node.js / React
# =========================
node_modules/
**/node_modules/

dist/
**/dist/

# =========================
# Environment Variables
# =========================
.env
.env.local
**/.env
**/.env.local

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/*
!.vscode/extensions.json

# =========================
# Misc
# =========================
.idea/
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates